@CHARSET "UTF-8";
/* Start Apple Styles */
/*
These styles support Apple products display of CSS.
NOTES (orientation:landscape), (orientation:portrait) can also be used to be more specific
*/

/* iPad [portrait + landscape] */
@media only screen and (min-device-width:768px) and (max-device-width:1024px)
{
}

/* iPhone 4 [portrait + landscape] */
@media only screen and (resolution:326dpi)
{
	input, textarea {width:94% !important;}
	.ecowishSubmitButton, .ecowishSubmitButtonSelected {width:100% !important;}
}

/* screen and (resolution: 163dpi) */

/* iPhone 3 [portrait + landscape] */
@media only screen and (max-device-width:480px)
{
	input, textarea {width:94% !important;}
	.ecowishSubmitButton, .ecowishSubmitButtonSelected {width:100% !important;}
}

/* iPod Touch and older [portrait + landscape] */
@media only screen and (resolution:326dpi)
{
	input, textarea {width:94% !important;}
	.ecowishSubmitButton, .ecowishSubmitButtonSelected {width:100% !important;}
}

/* End Apple Styles */