@CHARSET "UTF-8";
/*------------------------------------*\
	ALL MEDIA Styles
\*------------------------------------*/
html,body{
	height:100% !important;
	overflow: hidden;
	margin:0;
	padding:0;
	font-family: helvetica !important;
	background-color: #fff !important;
}

submit, input, textarea, select {
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   background: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
   -webkit-appearance: none;
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;
 }
 input[type=checkbox],
 input[type=radio] {
   display: inline-block;
   font-size: 15px;
   line-height: 1em;
   margin: 0 0.25em 0 0;
   padding: 0;
   width: 1.25em;
   height: 1.25em;
   -webkit-border-radius: 0.25em;
   vertical-align: text-top;
 }
 input[type=radio] {
    -webkit-border-radius: 2em; 
 }
 input[type=checkbox]:checked, 
 input[type=radio]:checked {
   background: url("data:image/png,%89PNG[...]") no-repeat center center;
   -webkit-background-size: 28px 28px; 
 } 
 #productName, #storeId, #countyId, #placeId {
	width: 100%;
 }
 #productType{
 	width:2px !important;
 	height:2px !important;
 }
 
.mblTabBar {
	background-color: #687819 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#66ad42), to(#3e9820), color-stop(0.5, #66ad42), color-stop(0.5, #3e9820)) !important;
}
.mblListItem {
	background-color: #76d32a; 
	border:none !important;
}/*76d32a*/
.submitButton {
	width:100%;
	/*border-color: #3a750d;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#66ad42), to(#3e9820), color-stop(0.5, #66ad42), color-stop(0.5, #3e9820)) !important;
	background-color: #3a750d !important;
	font-weight: normal;
}
.submitButton:link {color:#FF0000;}      /* unvisited link */
.submitButton:visited {color:#00FF00;}  /* visited link */
.submitButton:hover {color: #d6e03d !important;}  /* mouse over link */
.submitButton:active {border:1px solid #d6e03d; color:#d6e03d;}  /* selected link */

#ecoResponse {
	position: absolute;
	top:0px;
	width: auto;
	margin-left:15px;
	height:15px;
	text-align: center;
	z-index: 1;
	font-size: .7em;
	font-style: italic;
	font-variant: small-caps;
	background-color:#d6e03d;
}
.ecowishTextLarge {font-style: italic;font-size: .8em;}
.ecowishTextSmall {font-style: italic;font-size: .6em;}
 
#ecowishContainer{
	background-color: #fff;
}
#productTypeMessage{
	/*float: right;*/
}

